process {
    executor = 'slurm'
    queue = 'cpu'
}

params {
    SCRATCH_ROOT = "/group/ja3/"
    LINMOS_CONFIG_FILENAME = "linmos.config"
    LINMOS_CLUSTER_OPTIONS = "--nodes=12 --ntasks-per-node=24 --cpus-per-task=1"

    DOWNLOAD_QUERY = 'SELECT * FROM ivoa.obscore WHERE obs_id IN ($SBIDS) AND (filename LIKE "weights.i.%.cube.fits" OR filename LIKE "image.restored.i.%.cube.contsub.fits")'
    OUTPUT_DIR = "outputs"
    SOFIAX_CONFIG_FILE = "config.ini"

    WALLABY_COMPONENTS_IMAGE = "aussrc/wallaby_scripts:latest"
    CASDA_DOWNLOAD_COMPONENTS_IMAGE = "aussrc/casda_download_components:v0.0.3"
    SOURCE_FINDING_COMPONENTS_IMAGE = "aussrc/source_finding_components:latest"
    LINMOS_IMAGE = "docker://csirocass/yandasoft:1.4.0-mpich"
    S2P_IMAGE = "aussrc/s2p_setup:v0.1.6"
    SOFIA_IMAGE = "docker://astroaustin/sofia:v0.0.1c"
    SOFIAX_IMAGE = "docker://astroaustin/sofiax:v0.0.11e"

    SINGULARITY_CACHEDIR = "/mnt/shared/wallaby/apps/singularity"
}

singularity.enabled = true
singularity.cacheDir = "/mnt/shared/wallaby/apps/singularity"
