profiles {
    magnus {
        workDir = '/group/ja3/wallaby/runs/work/'
        tmpDir = '/group/ja3/wallaby/tmp/'

        process {
            cache = 'lenient'
            stageInMode = 'symlink'
        }

        process {
            executor = 'slurm'
            queue = 'workq'
            module = 'singularity'
            clusterOptions = '--nodes=1 --account=ja3 --time=24:00:00'

            withName: linmos {
                module = 'singularity'
                executor = 'slurm'
                clusterOptions = '--account=ja3 --nodes=12 --ntasks-per-node=12 --cpus-per-task=1 --time=24:00:00'
                queue = 'workq'
            }
        }

        params {
            SCRATCH_ROOT = "/group/ja3/wallaby/"
            WORKDIR = "/group/ja3/wallaby/postprocessing"
            SINGULARITY_CACHEDIR = "/group/ja3/wallaby/apps/singularity"
            ASTROPY_CACHEDIR = "/group/ja3/ashen/"

            SOFIA_PARAMETER_FILE = "/group/ja3/wallaby/config/sofia.par"
            S2P_TEMPLATE = "/group/ja3/wallaby/config/s2p_setup.ini"
            SOFIAX_CONFIG_FILE = "/group/ja3/wallaby/config/sofiax.ini"
            LINMOS_CONFIG_FILE = "/group/ja3/wallaby/config/linmos.config"
            METADATA_OUTPUT = "/group/ja3/wallaby/metadata"
        }

        singularity {
            enabled = true
            cacheDir = '/group/ja3/wallaby/apps/singularity'
            envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
        }

        docker.enabled = false
    }

    carnaby {
        process {
            executor = 'slurm'
            queue = 'cpu'
            module = ['singularity']

            withName: linmos {
                module = ['mpich', 'singularity']
                executor = 'slurm'
                clusterOptions = '--nodes=12 --ntasks-per-node=12'
                queue = 'cpu'
	        }
        }

        params {
            SCRATCH_ROOT = "/mnt/shared"
            WORKDIR = "/mnt/shared/wallaby/post-runs"
            SINGULARITY_CACHEDIR = "/mnt/shared/wallaby/apps/singularity"

            CASDA_CREDENTIALS_CONFIG = "/mnt/shared/wallaby/config/casda.ini"
            SOFIA_PARAMETER_FILE = "/mnt/shared/wallaby/config/sofia.par"
            S2P_TEMPLATE = "/mnt/shared/wallaby/config/s2p_setup.ini"
            SOFIAX_CONFIG_FILE = "/mnt/shared/wallaby/config/sofiax.ini"
            LINMOS_CONFIG_FILE = "/mnt/shared/wallaby/config/linmos.config"
            SINGULARITY_CACHEDIR = "/mnt/shared/wallaby/apps/singularity"
            METADATA_OUTPUT = "/mnt/shared/wallaby/metadata"
        }

        process.module = 'singularity'
        singularity {
            enabled = true
            envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
            cacheDir = "/mnt/shared/wallaby/apps/singularity/"
        }

        docker.enabled = false
    }
}

params {
    MOSAIC_OUTPUT_FILENAME = "mosaic"
    SOFIA_OUTPUTS_DIRNAME = "outputs"
    LINMOS_CONFIG_FILENAME = "linmos.config"
    LINMOS_LOG_FILE = "askap.linmos.log"
    SOFIAX_CONFIG_FILENAME = "sofiax.ini"
    WALLMERGE_OUTPUT = "mom0.fits"
    REGION = ""

    CASDA_DOWNLOAD_IMAGE = "docker://aussrc/casda_download_components:latest"
    OBSERVATION_METADATA_IMAGE = "docker://aussrc/observation_metadata:latest"
    WALLABY_COMPONENTS_IMAGE = "docker://aussrc/wallaby_scripts:latest"
    UPDATE_LINMOS_CONFIG_IMAGE = "aussrc/update_linmos_config:latest"
    LINMOS_IMAGE = "docker://csirocass/askapsoft:1.4.0-mpich"
    S2P_SETUP_IMAGE = "aussrc/s2p_setup:v0.3.0"
    UPDATE_SOFIAX_CONFIG_IMAGE = "aussrc/update_sofiax_config:latest"
    SOFIA_IMAGE = "docker://astroaustin/sofia:v0.0.1c"
    SOFIAX_IMAGE = "docker://aussrc/sofiax:v0.2.0"
    WALLMERGE_IMAGE = "aussrc/wallmerge:v0.1.0"
}
