process {
    executor = 'slurm'
    queue = 'aussrc_cluster'
}

params {
    WALLABY_SCRIPTS = 'astroaustin/wallaby_scripts:v0.1.7'

    CASDA_CUBE_TYPE = 'cube'
    CASDA_CUBE_FILENAME = 'image.restored.%SB$SBID%.cube.MilkyWay.contsub.fits'
    CASDA_WEIGHTS_TYPE = 'cube'
    CASDA_WEIGHTS_FILENAME = 'weights%SB$SBID%.cube.MilkyWay.fits'
    
    LINMOS_OUTPUT_IMAGE_CUBE = 'mosaicked'
    LINMOS_CONFIG_FILENAME = 'linmos.config'
    LINMOS_CLUSTER_OPTIONS = '--ntasks=324 --ntasks-per-node=18'

    SOFIA_PARAMS_FILE = 'sofia.par'
}

containerOptions = '--bind /mnt/shared:/mnt/shared'

singularity.autoMounts = true
singularity.enabled = true