# SoFiA 2 parameter file

# Global settings

pipeline.verbose           = {{ SOFIA_PIPELINE_VERBOSE }}
pipeline.pedantic          = {{ SOFIA_PIPELINE_PEDANTIC }}
pipeline.threads           = {{ SOFIA_PIPELINE_THREADS }}


# Input

input.data                 = {{ SOFIA_INPUT_DATA }}
input.region               = {{ SOFIA_INPUT_REGION }}
input.gain                 = {{ SOFIA_INPUT_GAIN }}
input.noise                = {{ SOFIA_INPUT_NOISE }}
input.weights              = {{ SOFIA_INPUT_WEIGHTS }}
input.mask                 = {{ SOFIA_INPUT_MASK }}
input.invert               = {{ SOFIA_INPUT_INVERT }}


# Flagging

flag.region                = {{ SOFIA_FLAG_REGION }}
flag.catalog               = {{ SOFIA_FLAG_CATALOG }}
flag.radius                = {{ SOFIA_FLAG_RADIUS }}
flag.auto                  = {{ SOFIA_FLAG_AUTO }}
flag.threshold             = {{ SOFIA_FLAG_THRESHOLD }}
flag.log                   = {{ SOFIA_FLAG_LOG }}


# Noise scaling

scaleNoise.enable          = {{ SOFIA_SCALENOISE_ENABLE }}
scaleNoise.mode            = {{ SOFIA_SCALENOISE_MODE }}
scaleNoise.windowXY        = {{ SOFIA_SCALENOISE_WINDOWXY }}
scaleNoise.windowZ         = {{ SOFIA_SCALENOISE_WINDOWZ }}
scaleNoise.gridXY          = {{ SOFIA_SCALENOISE_GRIDXY }}
scaleNoise.gridZ           = {{ SOFIA_SCALENOISE_GRIDZ }}
scaleNoise.interpolate     = {{ SOFIA_SCALENOISE_INTERPOLATE }}
scaleNoise.scfind          = {{ SOFIA_SCALENOISE_SCFIND }}


# S+C finder

scfind.enable              = {{ SOFIA_SCFIND_ENABLE }}
scfind.kernelsXY           = {{ SOFIA_SCFIND_KERNELSXY }}
scfind.kernelsZ            = {{ SOFIA_SCFIND_KERNELSZ }}
scfind.threshold           = {{ SOFIA_SCFIND_THRESHOLD }}
scfind.replacement         = {{ SOFIA_SCFIND_REPLACEMENT }}
scfind.statistic           = {{ SOFIA_SCFIND_STATISTIC }}
scfind.fluxRange           = {{ SOFIA_SCFIND_FLUXRANGE }}


# Threshold finder

threshold.enable           = {{ SOFIA_THRESHOLD_ENABLE }}
threshold.threshold        = {{ SOFIA_THRESHOLD_THRESHOLD }}
threshold.mode             = {{ SOFIA_THRESHOLD_MODE }}
threshold.statistic        = {{ SOFIA_THRESHOLD_STATISTIC }}
threshold.fluxRange        = {{ SOFIA_THRESHOLD_FLUXRANGE }}


# Linker

linker.radiusXY            = {{ SOFIA_LINKER_RADIUSXY }}
linker.radiusZ             = {{ SOFIA_LINKER_RADIUSZ }}
linker.minSizeXY           = {{ SOFIA_LINKER_MINSIZEXY }}
linker.minSizeZ            = {{ SOFIA_LINKER_MINSIZEZ }}
linker.maxSizeXY           = {{ SOFIA_LINKER_MAXSIZEXY }}
linker.maxSizeZ            = {{ SOFIA_LINKER_MAXSIZEZ }}
linker.keepNegative        = {{ SOFIA_LINKER_KEEPNEGATIVE }}


# Reliability

reliability.enable         = {{ SOFIA_RELIABILITY_ENABLE }}
reliability.threshold      = {{ SOFIA_RELIABILITY_THRESHOLD }}
reliability.scaleKernel    = {{ SOFIA_RELIABILITY_SCALEKERNEL }}
reliability.minSNR         = {{ SOFIA_RELIABILITY_MINSNR }}
reliability.plot           = {{ SOFIA_RELIABILITY_PLOT }}


# Parameterisation

parameter.enable           = {{ SOFIA_PARAMETER_ENABLE }}
parameter.wcs              = {{ SOFIA_PARAMETER_WCS }}
parameter.physical         = {{ SOFIA_PARAMETER_PHYSICAL }}
parameter.prefix           = {{ SOFIA_PARAMETER_PREFIX }}
parameter.offset           = {{ SOFIA_PARAMETER_OFFSET }}


# Output

output.directory           = {{ SOFIA_OUTPUT_DIRECTORY }}
output.filename            = {{ SOFIA_OUTPUT_FILENAME }}
output.writeCatASCII       = {{ SOFIA_OUTPUT_WRITECATASCII }}
output.writeCatXML         = {{ SOFIA_OUTPUT_WRITECATXML }}
output.writeCatSQL         = {{ SOFIA_OUTPUT_WRITECATSQL }}
output.writeNoise          = {{ SOFIA_OUTPUT_WRITENOISE }}
output.writeFiltered       = {{ SOFIA_OUTPUT_WRITEFILTERED }}
output.writeMask           = {{ SOFIA_OUTPUT_WRITEMASK }}
output.writeMask2d         = {{ SOFIA_OUTPUT_WRITEMASK2D }}
output.writeRawMask        = {{ SOFIA_OUTPUT_WRITERAWMASK }}
output.writeMoments        = {{ SOFIA_OUTPUT_WRITEMOMENTS }}
output.writeCubelets       = {{ SOFIA_OUTPUT_WRITECUBELETS }}
output.marginCubelets      = {{ SOFIA_OUTPUT_MARGINCUBELETS }}
output.overwrite           = {{ SOFIA_OUTPUT_OVERWRITE }}
